*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search-btn{
    position: absolute;
    left: 2rem;
}
.search-input{
    background-color: #dcdcdc !important; 
}
.search-input:focus{
    background-color: transparent !important; 
}
input[type="search"]::placeholder {
    padding-left: 2.5em;
 }